@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #000000;
    padding: 12px;
}

.sidebar .logo {
    background-color: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar .logo img {
    width: 80px;
}

.sidebar__navigation {
    background-color: #121212;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar nav ul {
    list-style: none;
    margin-top: 20px;
    padding: 0px 20px 10px 20px;
}

.sidebar nav ul li {
    padding: 10px 0px;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.sidebar nav ul li .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
}

.sidebar nav ul li a:hover {
    color: #ffffff;
}

/* .options {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    border-radius: 8px;
    background-color: #121212;
}
*/
.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    min-block-size: 40px;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    flex-direction: column;
}

.library .library__button {
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
}

.library .library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__content .fa-plus {
   margin: 24px 10px;
}

section {
    background-color: #242424;
    align-items: flex-start;
    border-radius: 8px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    min-block-size: 40px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
}

section .section__playlist {
    display: flex;
    flex-direction: column;
}

section .section__playlist .text {
   padding-bottom: 14px;
   color: #fff;
}

section .section__playlist .title {
   font-weight: 700;
}

section .section__playlist .subtitle {
    font-weight: 500;
    font-size: 0.8rem;
 }

section .section__playlist .section__playlist--create {
    background-color: #ffffff;
    color: #000;
    border-radius: 9999px;
    display: flex;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: 113px;
    justify-content: center;
    margin-top: 12px;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    background-color: transparent;
    border-radius: 9999px;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    align-items: center;
    padding: 8px;
    width: 170px;
    margin: 8px;
    font-weight: bold;
}

.main-container {
    margin-left: 324px;
    margin-bottom: 100px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 14px 30px;
}

.topbar .prev-next-buttons button {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
}

.topbar .navbar {
    display: flex;
    align-items: center;
}

.topbar .navbar ul {
    list-style: none;
}

.topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}

.topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.topbar .navbar ul li a:hover {
    color: #ffffff;
    font-size: 15px;
}

.topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
}

.topbar .navbar button:hover {
    background-color: #f2f2f2;
}

.spotify-playlists {
    padding: 20px 40px;
}

.spotify-playlists h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}

.spotify-playlists .list {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.spotify-playlists .list .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover {
    background-color: #252525;
}

.spotify-playlists .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.spotify-playlists .list .item .play {
    position: relative;
}

.spotify-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}

.spotify-playlists .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
}

.spotify-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotify-playlists .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}

.spotify-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
}

.preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.preview h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.preview p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.preview button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}

#artistList {
    display: none;
}