.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #000000;
  padding: 12px;
}

.sidebar .logo {
  background-color: #121212;
  display: flex;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.sidebar .logo img {
  width: 80px;
}

.sidebar__navigation {
  background-color: #121212;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar nav ul {
  list-style: none;
  margin-top: 20px;
  padding: 0px 20px 10px 20px;
}

.sidebar nav ul li {
  padding: 10px 0px;
}

.sidebar nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.sidebar nav ul li .fa {
  font-size: 20px;
  margin-right: 10px;
  font-weight: 300;
}

.sidebar nav ul li a:hover {
  color: #ffffff;
}

/* .options {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  border-radius: 8px;
  background-color: #121212;
}
*/
.library {
  background-color: #121212;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  min-block-size: 40px;
  padding: 4px 8px;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  flex-direction: column;
}

.library .library__button {
  margin-right: 10px;
  color: #b3b3b3;
  background-color: transparent;
  border: 0px;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 20px 10px;
  display: flex;
}

.library .library__button .fa {
  font-size: 20px;
  margin-right: 10px;
  font-weight: 300;
  padding-right: 8px;
}

.library__content {
  display: flex;
  justify-content: space-between;
}

.library .library__content .fa-plus {
 margin: 24px 10px;
}