body {
    margin: 0;
}

#main {
    width: 100%;
}

.menu {
    width: 30%;
    
}

.logo {
    background-color: black;
    width: 50%;
    height: auto;
}

.view-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas com largura igual */
    grid-gap: 20px; /* Espaçamento entre as colunas */
  }