/* HEADER */
.main-container {
  max-width: 80vw;
  height: 100vh;
  margin-left: 320px;
  margin-right: 56px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 10px;
  border-radius: 8px;
  background-color: #121212;
  /* padding: 12px; */
}

.header__navigation .navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__navigation .navigation .arrow-left {
  margin-right: 1.25rem;
}

.arrow-left,
.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background: var(--bg-icon);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.header__login {
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
  align-items: center;
  width: 364px;
  height: 48px;
  margin-left: 8px;
  border: transparent;
  background-color: #242424;
  border-radius: 500px;
  border: 1px solid transparent;
}

.header__search img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.header__search input {
  background: transparent;
  border: none;
  padding: 0px 100px 0 12px;
  color: #fff;
  text-overflow: ellipsis;
  outline: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header__login .subscribe {
  color: var(--text-sub);
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  margin-right: 32px;
}

.header__login .login {
  width: 100px;
  height: 48px;
  color: var(--text-base-dark);
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
}

/* HOVER */

.header__search:hover {
  border: 1px solid #fff;
}

.header__login .subscribe:hover {
  transform: scale(1.04);
  color: var(--text-base-light);
}

.header__login .login:hover {
  transform: scale(1.04);
}
/* FIM HOVER */

/*FIM HEADER */

/* PLAYLIST */
.playlist-container {
  height: 72vh;
  padding-top: 1rem;
  margin: 10px;
  border-radius: 10px;
  background-color: #121212;
}

.playlist {
  margin: 24px;
}

.playlist #greeting {
  color: var(--text-base-light);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 48px;
}

.playlist .session {
  color: var(--text-base-light);
  font-size: 24px;
  font-weight: 700;
}

/* SCROLL */
.offer__scroll-container {
  max-height: 52vh;
  margin: 24px;
  overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar {
  width: 1px;
}

/* Thumb */
.offer__scroll-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}
/* FIM SCROLL */

.offer__list-item {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cards {
  position: relative;
  width: 220px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.cards span {
  padding: 16px;
  position: absolute;
  color: var(--text-base-light);
  font-size: 24px;
  font-weight: 700;
}

/* COLOR CARDS */
.card1 {
  background-color: rgb(0, 100, 80);
}
.card2 {
  background-color: rgb(132, 0, 231);
}
.card3 {
  background: rgb(30, 50, 100);
}
.card4 {
  background: rgb(140, 25, 50);
}
.card5 {
  background: rgb(232, 17, 91);
}
.card6 {
  background: rgb(83, 122, 161);
}
.card7 {
  background: rgb(142, 102, 172);
}
.card8 {
  background: rgb(20, 138, 8);
}
.card9 {
  background: rgb(30, 50, 100);
}
.card10 {
  background: rgb(233, 20, 41);
}
.card11 {
  background: rgb(80, 55, 80);
}
.card12 {
  background: rgb(216, 64, 0);
}
.card13 {
  background: rgb(186, 93, 7);
}
.card14 {
  background: rgb(0, 30, 80);
}
.card15 {
  background: rgb(60, 30, 80);
}
/* FIM COLOR CARDS */

.offer__list-item img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 107px;
  transform: rotate(25deg) translate(18%, -2%);
}

.artist {
  --column-count: 5;
  --grid-gap: 24px;
  --min-container-width: 372px;
}

.hidden {
  display: none;
}

.grid-container {
  grid-gap: var(--grid-gap);
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  min-width: var(--min-container-width);
}

.artist-search {
  height: 100%;
}

.artist-card {
  background: #181818;
  border-radius: 8px;
  -ms-flex: 1;
  flex: 1;
  isolation: isolate;
  padding: 16px;
  position: relative;
  transition: background-color 0.3s ease;
  width: 100%;
}

.card-img {
  /* background-color: var(--card-color,#333);
    border-radius: 6px;
    box-shadow: 0 8px 24px rgba(0,0,0,.5); */
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.card-content {
  pointer-events: none;
  position: relative;
}

.artist-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 50%;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 62px;
}

.card-text a {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.artist-name {
  box-sizing: border-box;
  margin-block: 0px;
  font-size: 1rem;
  font-weight: 700;
  padding-block-end: 8px;
}

.artist-categorie {
  color: #6a6a6a;
  font-weight: 400;
  font-size: 0.875rem;
}

.play {
  position: relative;
}

.play .fa-play {
  position: absolute;
  right: 10px;
  top: 120px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  font-size: 14px;
  opacity: 0;
  transition: all ease 0.4s;
}

.artist-card:hover .play .fa-play {
  opacity: 1;
  transform: translateY(-20px);
}

.play .fa-play:hover {
  padding: 20px;
  cursor: pointer;
}
