@media screen and (max-width: 1015px) {
  .header__search {
    /* display: none !important; */
    width: auto !important;
  }

  /* .header__login .subscribe {
    font-size: 12px !important;
    padding: 10px !important;
    margin-right: 5px !important;
  } */

  /* .offer__list-item {
    grid-template-columns: 1fr 1fr !important;
  } */
}

@media screen and (min-width: 1016px) and (max-width: 1140px) {
  .header__search {
    /* display: none !important; */
    width: auto !important;
  }

  /* .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr !important;
  } */
}
