:root {
  /* Colors */
  --main-font-color: #fff;
  --playlist-box-01: #303030;
  --playlist-box-02: #181818;
  --background-icon: #131313;
  --main-gradient: linear-gradient(
    180deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(31, 31, 31, 1) 11.644843220710754%,
    rgba(23, 23, 23, 1) 25.65864324569702%,
    rgba(22, 22, 22, 1) 32.941123843193054%,
    rgba(21, 21, 21, 1) 35.97584068775177%,
    rgba(19, 19, 19, 1) 44.889646768569946%,
    rgba(18, 18, 18, 1) 55.216121673583984%,
    rgba(18, 18, 18, 1) 75.33735036849976%,
    rgba(18, 18, 18, 1) 85.4543685913086%,
    rgba(18, 18, 18, 0) 100%
  );

  /* Fonts */
  --font-dm-sans: "DM Sans", sans-serif;
}
